<!-- <div class="container"> -->
		<!-- <div class="row">

			<div class="col s3 center-align">{{Character Name}}</div>
			<div class="col s1 center-align">{{Alignment}}</div>
			<div class="col s3 center-align">{{Player}}</div>
			<div class="col s3 center-align">{{Level}}</div>
			<div class="col s1 center-align">{{Diety}}</div>
			<div class="col s3 center-align">{{Homeland}}</div>
			<div class="col s2 center-align">{{Race}}</div>
			<div class="col s2 center-align">{{Size}}</div>
			<div class="col s2 center-align">{{Gender}}</div>
			<div class="col s1 center-align">{{Age}}</div>
			<div class="col s2 center-align">{{Height}}</div>
			<div class="col s2 center-align">{{Weight}}</div>
			<div class="col s2 center-align">{{Hair}}</div>
			<div class="col s1 center-align">{{Eyes}}</div>
		</div>

	<div class="row">
		<div class="col s4">
			<div class="col s3">Ability Name</div>
			<div class="col s3">Ability Score</div>
			<div class="col s3">Ability Mod</div>
			<div class="col s3">Temp Mod</div>
		</div>
		<div class="col s3">
			<div class="col s1 offset-s2">HP:</div>
			<div class="col s4">{{HP}}</div>
			<div class="col s4">{{DR}}</div>
		</div>
		<div class="col s2">
			<div class="col s3">Init:</div>
			<div class="col s4">{{Init}}</div>
		</div>
		<div class="col s2">
			<div class="col s3">Spd:</div>
			<div class="col s4">{{Spd}}</div>
		</div>
		<div class="col s8 center align">Skills
		</div>
			<div class="col s3 offset-s4">Skill Names</div>
			<div class="col s1">Total Bonus</div>
			<div class="col s1">Ability Type</div>
			<div class="col s1">Ability Mod</div>
			<div class="col s1">Ranks</div>
			<div class="col s1">Misc. Mod</div>
			
	</div>

	<div class="row">
		<div class="col s4">
			<div class="col s3 center align">Str</div>
			<div class="col s3 center align">{{Str.score}}</div>
			<div class="col s3 center align">+{{Str.mod}}</div>
			<div class="col s3 center align">{{Str.temp}}</div>
		</div>
	</div>	
	<div class="row">
		<div class="col s4">
			<div class="col s3 center align">Dex</div>
			<div class="col s3 center align">{{Dex.score}}</div>
			<div class="col s3 center align">+{{Dex.mod}}</div>
			<div class="col s3 center align">{{Dex.temp}}</div>
		</div>
	</div>	
	<div class="row">
		<div class="col s4">
			<div class="col s3 center align">Con</div>
			<div class="col s3 center align">{{Con.score}}</div>
			<div class="col s3 center align">+{{Con.mod}}</div>
			<div class="col s3 center align">{{Con.temp}}</div>
		</div>
	</div>	
	<div class="row">
		<div class="col s4">
			<div class="col s3 center align">Int</div>
			<div class="col s3 center align">{{Int.score}}</div>
			<div class="col s3 center align">+{{Int.mod}}</div>
			<div class="col s3 center align">{{Int.temp}}</div>
		</div>
	</div>
	<div class="row">
		<div class="col s4">
			<div class="col s3 center align">Wis</div>
			<div class="col s3 center align">{{Wis.score}}</div>
			<div class="col s3 center align">+{{Wis.mod}}</div>
			<div class="col s3 center align">{{Wis.temp}}</div>
		</div>
	</div>	
</div>  -->