	<div>Skills
	<div class="container">
		<div class="row">
			<div class="newInput col s2"><input id="acrobatics" type="checkbox" ng-model="newSkill.acrobatics"
			/><label for="acrobatics">Acrobatics</label></div>	
			<div class="newInput col s3">Ranks<input ng-model="newSkill.acrobaticsRanks" ng-disabled="!newSkill.acrobatics"></div>
			<div class="newInput col s3">Misc. Mod<input ng-model="newSkill.acrobaticsMM" ng-disabled="!newSkill.acrobatics"></div>
		</div>	
		<div class="row">
			<div class="newInput col s2"><input id="appraise" type="checkbox" ng-model="newSkill.appraise"/><label for="appraise">Appraise</label></div>	
			<div class="newInput col s3">Ranks<input ng-model="newSkill.appraiseRanks" ng-disabled="!newSkill.appraise"></div>
			<div class="newInput col s3">Misc. Mod<input ng-model="newSkill.appraiseMM" ng-disabled="!newSkill.appraise"></div>
		</div>	
		<div class="row">
			<div class="newInput col s2"><input id="bluff" type="checkbox" ng-model="newSkill.bluff"/><label for="bluff">Bluff</label></div>	
			<div class="newInput col s3">Ranks<input ng-model="newSkill.bluffRanks" ng-disabled="!newSkill.bluff"></div>
			<div class="newInput col s3">Misc. Mod<input ng-model="newSkill.bluffMM" ng-disabled="!newSkill.bluff"></div>
		</div>	
		<div class="row">
			<div class="newInput col s2"><input id="climb" type="checkbox" ng-model="newSkill.climb"/><label for="climb">Climb</label></div>	
			<div class="newInput col s3">Ranks<input ng-model="newSkill.climbRanks" ng-disabled="!newSkill.climb"></div>
			<div class="newInput col s3">Misc. Mod<input ng-model="newSkill.climbMM" ng-disabled="!newSkill.climb"></div>
		</div>	
		<div class="row">
			<div class="newInput col s2"><input id="craft1" type="checkbox" ng-model="newSkill.craft1"/><label for="craft1">Craft</label><input placeholder="type..." ng-disabled="!newSkill.craft1" ng-model="newSkill.craft1Type"></div>	
			<div class="newInput col s3">Ranks<input ng-model="newSkill.craft1TypeRanks" ng-disabled="!newSkill.craft1"></div>
			<div class="newInput col s3">Misc. Mod<input ng-model="newSkill.craft1TypeMM" ng-disabled="!newSkill.craft1"></div>
		</div>	
		<div class="row">
			<div class="newInput col s2"><input id="craft2" type="checkbox" ng-model="newSkill.craft2"/><label for="craft2">Craft</label><input placeholder="type..." ng-disabled="!newSkill.craft2" ng-model="newSkill.craft2Type"></div>	
			<div class="newInput col s3">Ranks<input ng-model="newSkill.craft2TypeRanks" ng-disabled="!newSkill.craft2"></div>
			<div class="newInput col s3">Misc. Mod<input ng-model="newSkill.craft2TypeMM" ng-disabled="!newSkill.craft2"></div>
		</div>	
		<div class="row">
			<div class="newInput col s2"><input id="craft3" type="checkbox" ng-model="newSkill.craft3"/><label for="craft3">Craft</label><input placeholder="type..." ng-disabled="!newSkill.craft3" ng-model="newSkill.craft3Type"></div>	
			<div class="newInput col s3">Ranks<input ng-model="newSkill.craft3TypeRanks" ng-disabled="!newSkill.craft3"></div>
			<div class="newInput col s3">Misc. Mod<input ng-model="newSkill.craft3TypeMM" ng-disabled="!newSkill.craft3"></div>
		</div>	
		<div class="row">
			<div class="newInput col s2"><input id="diplomacy" type="checkbox" ng-model="newSkill.diplomacy"/><label for="diplomacy">Diplomacy</label></div>	
			<div class="newInput col s3">Ranks<input ng-model="newSkill.diplomacyRanks" ng-disabled="!newSkill.diplomacy"></div>
			<div class="newInput col s3">Misc. Mod<input ng-model="newSkill.diplomacyMM" ng-disabled="!newSkill.diplomacy"></div>
		</div>	
		<div class="row">
			<div class="newInput col s2"><input id="disableDevice" type="checkbox" ng-model="newSkill.disableDevice"/><label for="disableDevice">Disable Device</label></div>	
			<div class="newInput col s3">Ranks<input ng-model="newSkill.disableDeviceRanks" ng-disabled="!newSkill.disableDevice"></div>
			<div class="newInput col s3">Misc. Mod<input ng-model="newSkill.disableDeviceMM" ng-disabled="!newSkill.disableDevice"></div>
		</div>	
		<div class="row">
			<div class="newInput col s2"><input id="disguise" type="checkbox" ng-model="newSkill.disguise"/><label for="disguise">Disguise</label></div>	
			<div class="newInput col s3">Ranks<input ng-model="newSkill.disguiseRanks" ng-disabled="!newSkill.disguise"></div>
			<div class="newInput col s3">Misc. Mod<input ng-model="newSkill.disguiseMM" ng-disabled="!newSkill.disguise"></div>
		</div>	
		<div class="row">
			<div class="newInput col s2"><input id="escapeArtist" type="checkbox" ng-model="newSkill.escapeArtist"/><label for="escapeArtist">Escape Artist</label></div>	
			<div class="newInput col s3">Ranks<input ng-model="newSkill.escapeArtistRanks" ng-disabled="!newSkill.escapeArtist"></div>
			<div class="newInput col s3">Misc. Mod<input ng-model="newSkill.escapeArtistMM" ng-disabled="!newSkill.escapeArtist"></div>
		</div>	
		<div class="row">
			<div class="newInput col s2"><input id="fly" type="checkbox" ng-model="newSkill.fly"/><label for="fly">Fly</label></div>	
			<div class="newInput col s3">Ranks<input ng-model="newSkill.flyRanks" ng-disabled="!newSkill.fly"></div>
			<div class="newInput col s3">Misc. Mod<input ng-model="newSkill.flyMM" ng-disabled="!newSkill.fly"></div>
		</div>	
		<div class="row">
			<div class="newInput col s2"><input id="handleAnimal" type="checkbox" ng-model="newSkill.handleAnimal"/><label for="handleAnimal">Handle Animal</label></div>	
			<div class="newInput col s3">Ranks<input ng-model="newSkill.handleAnimalRanks" ng-disabled="!newSkill.handleAnimal"></div>
			<div class="newInput col s3">Misc. Mod<input ng-model="newSkill.handleAnimalMM" ng-disabled="!newSkill.handleAnimal"></div>
		</div>	
		<div class="row">
			<div class="newInput col s2"><input id="heal" type="checkbox" ng-model="newSkill.heal"/><label for="heal">Heal</label></div>	
			<div class="newInput col s3">Ranks<input ng-model="newSkill.healRanks" ng-disabled="!newSkill.healRanks"></div>
			<div class="newInput col s3">Misc. Mod<input ng-model="newSkill.healMM" ng-disabled="!newSkill.healRanks"></div>
		</div>	
		<div class="row">
			<div class="newInput col s2"><input id="intimidate" type="checkbox" ng-model="newSkill.intimidate"/><label for="intimidate">Intimidate</label></div>	
			<div class="newInput col s3">Ranks<input ng-model="newSkill.intimidateRanks" ng-disabled="!newSkill.intimidate"></div>
			<div class="newInput col s3">Misc. Mod<input ng-model="newSkill.intimidateMM" ng-disabled="!newSkill.intimidate"></div>
		</div>	
		<div class="row">
			<div class="newInput col s2"><input id="knowArcana" type="checkbox" ng-model="newSkill.knowArcana"/><label for="knowArcana">Knowledge Arcana</label></div>	
			<div class="newInput col s3">Ranks<input ng-model="newSkill.knowArcanaRanks" ng-disabled="!newSkill.knowArcana"></div>
			<div class="newInput col s3">Misc. Mod<input ng-model="newSkill.knowArcanaMM" ng-disabled="!newSkill.knowArcana"></div>
		</div>	
		<div class="row">
			<div class="newInput col s2"><input id="knowDungeon" type="checkbox" ng-model="newSkill.knowDungeon"/><label for="knowDungeon">Knowledge Dungeoneering</label></div>	
			<div class="newInput col s3">Ranks<input ng-model="newSkill.knowDungeonRanks" ng-disabled="!newSkill.knowDungeon"></div>
			<div class="newInput col s3">Misc. Mod<input ng-model="newSkill.knowDungeonMM" ng-disabled="!newSkill.knowDungeon"></div>
		</div>	
		<div class="row">
			<div class="newInput col s2"><input id="knowGeography" type="checkbox" ng-model="newSkill.knowGeography"/><label for="knowGeography">Knowledge Geography</label></div>	
			<div class="newInput col s3">Ranks<input ng-model="newSkill.knowGeographyRanks" ng-disabled="!newSkill.knowGeography"></div>
			<div class="newInput col s3">Misc. Mod<input ng-model="newSkill.knowGeographyMM" ng-disabled="!newSkill.knowGeography"></div>
		</div>	
		<div class="row">
			<div class="newInput col s2"><input id="knowHistory" type="checkbox" ng-model="newSkill.knowHistory"/><label for="knowHistory">Knowledge History</label></div>	
			<div class="newInput col s3">Ranks<input ng-model="newSkill.knowHistoryRanks" ng-disabled="!newSkill.knowHistory"></div>
			<div class="newInput col s3">Misc. Mod<input ng-model="newSkill.knowHistoryMM" ng-disabled="!newSkill.knowHistory"></div>
		</div>	
		<div class="row">
			<div class="newInput col s2"><input id="knowLocal" type="checkbox" ng-model="newSkill.knowLocal"/><label for="knowLocal">Knowledge Local</label></div>	
			<div class="newInput col s3">Ranks<input ng-model="newSkill.knowLocalRanks" ng-disabled="!newSkill.knowLocal"></div>
			<div class="newInput col s3">Misc. Mod<input ng-model="newSkill.knowLocalMM" ng-disabled="!newSkill.knowLocal"></div>
		</div>	
		<div class="row">
			<div class="newInput col s2"><input id="knowNature" type="checkbox" ng-model="newSkill.knowNature"/><label for="knowNature">Knowledge Nature</label></div>	
			<div class="newInput col s3">Ranks<input ng-model="newSkill.knowNatureRanks" ng-disabled="!newSkill.knowNature"></div>
			<div class="newInput col s3">Misc. Mod<input ng-model="newSkill.knowNatureMM" ng-disabled="!newSkill.knowNature"></div>
		</div>	
		<div class="row">
			<div class="newInput col s2"><input id="knowNobility" type="checkbox" ng-model="newSkill.knowNobility"/><label for="knowNobility">Knowledge Nobility</label></div>	
			<div class="newInput col s3">Ranks<input ng-model="newSkill.knowNobilityRanks" ng-disabled="!newSkill.knowNobility"></div>
			<div class="newInput col s3">Misc. Mod<input ng-model="newSkill.knowNobilityMM" ng-disabled="!newSkill.knowNobility"></div>
		</div>	
		<div class="row">
			<div class="newInput col s2"><input id="knowPlanes" type="checkbox" ng-model="newSkill.knowPlanes"/><label for="knowPlanes">Knowledge Planes</label></div>	
			<div class="newInput col s3">Ranks<input ng-model="newSkill.knowPlanesRanks" ng-disabled="!newSkill.knowPlanes"></div>
			<div class="newInput col s3">Misc. Mod<input ng-model="newSkill.knowPlanesMM" ng-disabled="!newSkill.knowPlanes"></div>
		</div>	
		<div class="row">
			<div class="newInput col s2"><input id="knowReligion" type="checkbox" ng-model="newSkill.knowReligion"/><label for="knowReligion">Knowledge Religion</label></div>	
			<div class="newInput col s3">Ranks<input ng-model="newSkill.knowReligionRanks" ng-disabled="!newSkill.knowReligion"></div>
			<div class="newInput col s3">Misc. Mod<input ng-model="newSkill.knowReligionMM" ng-disabled="!newSkill.knowReligion"></div>
		</div>	
		<div class="row">
			<div class="newInput col s2"><input id="linguistics" type="checkbox" ng-model="newSkill.linguistics"/><label for="linguistics">Linguistics</label></div>	
			<div class="newInput col s3">Ranks<input ng-model="newSkill.linguisticsRanks" ng-disabled="!newSkill.linguistics"></div>
			<div class="newInput col s3">Misc. Mod<input ng-model="newSkill.linguisticsMM" ng-disabled="!newSkill.linguistics"></div>
		</div>	
		<div class="row">
			<div class="newInput col s2"><input id="perception" type="checkbox" ng-model="newSkill.perception"/><label for="perception">Perception</label></div>	
			<div class="newInput col s3">Ranks<input ng-model="newSkill.perceptionRanks" ng-disabled="!newSkill.perception"></div>
			<div class="newInput col s3">Misc. Mod<input ng-model="newSkill.perceptionMM" ng-disabled="!newSkill.perception"></div>
		</div>			
		<div class="row">
			<div class="newInput col s2"><input id="perform1" type="checkbox" ng-model="newSkill.perform1"/><label for="perform1">Perform</label><input placeholder="type..." ng-disabled="!newSkill.perform1" ng-model="newSkill.perform1Type"></div>	
			<div class="newInput col s3">Ranks<input ng-model="newSkill.perform1TypeRanks" ng-disabled="!newSkill.perform1"></div>
			<div class="newInput col s3">Misc. Mod<input ng-model="newSkill.perform1TypeMM" ng-disabled="!newSkill.perform1"></div>
		</div>			
		<div class="row">
			<div class="newInput col s2"><input id="perform2" type="checkbox" ng-model="newSkill.perform2"/><label for="perform2">Perform</label><input placeholder="type..." ng-disabled="!newSkill.perform2" ng-model="newSkill.perform2Type"></div>	
			<div class="newInput col s3">Ranks<input ng-model="newSkill.perform2TypeRanks" ng-disabled="!newSkill.perform2"></div>
			<div class="newInput col s3">Misc. Mod<input ng-model="newSkill.perform2TypeMM" ng-disabled="!newSkill.perform2"></div>
		</div>			
		<div class="row">
			<div class="newInput col s2"><input id="profession1" type="checkbox" ng-model="newSkill.profession1"/><label for="profession1">Profession</label><input placeholder="type..." ng-disabled="!newSkill.profession1" ng-model="newSkill.profession1Type"></div>	
			<div class="newInput col s3">Ranks<input ng-model="newSkill.profession1TypeRanks" ng-disabled="!newSkill.profession1"></div>
			<div class="newInput col s3">Misc. Mod<input ng-model="newSkill.profession1TypeMM" ng-disabled="!newSkill.profession1"></div>
		</div>			
		<div class="row">
			<div class="newInput col s2"><input id="profession2" type="checkbox" ng-model="newSkill.profession2"/><label for="profession2">Profession</label><input placeholder="type..." ng-disabled="!newSkill.profession2" ng-model="newSkill.profession2Type"></div>	
			<div class="newInput col s3">Ranks<input ng-model="newSkill.profession2TypeRanks" ng-disabled="!newSkill.profession2"></div>
			<div class="newInput col s3">Misc. Mod<input ng-model="newSkill.profession2TypeMM" ng-disabled="!newSkill.profession2"></div>
		</div>
		<div class="row">
			<div class="newInput col s2"><input id="ride" type="checkbox" ng-model="newSkill.ride"/><label for="ride">Ride</label></div>	
			<div class="newInput col s3">Ranks<input ng-model="newSkill.rideRanks" ng-disabled="!newSkill.ride"></div>
			<div class="newInput col s3">Misc. Mod<input ng-model="newSkill.rideMM" ng-disabled="!newSkill.ride"></div>
		</div>	
		<div class="row">
			<div class="newInput col s2"><input id="senseMotive" type="checkbox" ng-model="newSkill.senseMotive"/><label for="senseMotive">Sense Motive</label></div>	
			<div class="newInput col s3">Ranks<input ng-model="newSkill.senseMotiveRanks" ng-disabled="!newSkill.senseMotive"></div>
			<div class="newInput col s3">Misc. Mod<input ng-model="newSkill.senseMotiveMM" ng-disabled="!newSkill.senseMotive"></div>
		</div>	
		<div class="row">
			<div class="newInput col s2"><input id="sleightOfHand" type="checkbox" ng-model="newSkill.sleightOfHand"/><label for="sleightOfHand">Sleight Of Hand</label></div>	
			<div class="newInput col s3">Ranks<input ng-stealth="newSkill.sleightOfHandRanks" ng-disabled="!newSkill.sleightOfHand"></div>
			<div class="newInput col s3">Misc. Mod<input ng-model="newSkill.sleightOfHandMM" ng-disabled="!newSkill.sleightOfHand"></div>
		</div>	
		<div class="row">
			<div class="newInput col s2"><input id="spellCraft" type="checkbox" ng-model="newSkill.spellCraft"/><label for="spellCraft">SpellCraft</label></div>	
			<div class="newInput col s3">Ranks<input ng-model="newSkill.spellCraftRanks" ng-disabled="!newSkill.spellCraft"></div>
			<div class="newInput col s3">Misc. Mod<input ng-model="newSkill.spellCraftMM" ng-disabled="!newSkill.spellCraft"></div>
		</div>	
		<div class="row">
			<div class="newInput col s2"><input id="stealth" type="checkbox" ng-model="newSkill.stealth"/><label for="stealth">Stealth</label></div>	
			<div class="newInput col s3">Ranks<input ng-model="newSkill.stealthRanks" ng-disabled="!newSkill.stealth"></div>
			<div class="newInput col s3">Misc. Mod<input ng-model="newSkill.stealthMM" ng-disabled="!newSkill.stealth"></div>
		</div>	
		<div class="row">
			<div class="newInput col s2"><input id="survival" type="checkbox" ng-model="newSkill.survival"/><label for="survival">Survival</label></div>	
			<div class="newInput col s3">Ranks<input ng-model="newSkill.survivalRanks" ng-disabled="!newSkill.survival"></div>
			<div class="newInput col s3">Misc. Mod<input ng-model="newSkill.survivalMM" ng-disabled="!newSkill.survival"></div>
		</div>	
		<div class="row">
			<div class="newInput col s2"><input id="swim" type="checkbox" ng-model="newSkill.swim"/><label for="swim">Swim</label></div>	
			<div class="newInput col s3">Ranks<input ng-model="newSkill.swimRanks" ng-disabled="!newSkill.swim"></div>
			<div class="newInput col s3">Misc. Mod<input ng-model="newSkill.swimMM" ng-disabled="!newSkill.swim"></div>
		</div>	
		<div class="row">
			<div class="newInput col s2"><input id="useMagicDevice" type="checkbox" ng-model="newSkill.useMagicDevice"/><label for="useMagicDevice">Use Magic Device</label></div>	
			<div class="newInput col s3">Ranks<input ng-model="newSkill.useMagicDeviceRanks" ng-disabled="!newSkill.useMagicDevice"></div>
			<div class="newInput col s3">Misc. Mod<input ng-model="newSkill.useMagicDeviceMM" ng-disabled="!newSkill.useMagicDevice"></div>
		</div>	
	</div>
	<button ng-click="addNewSkill()">Submit</button>
</div>
