<div>Hero
	<div class="container">
		<div class="row">
			<div class="newInput col s4">Character Name<input ng-model="newHero.characterName"></div>
			<div class="newInput col s4">Alignment<input ng-model="newHero.alignment"></div>
			<div class="newInput col s4">Character Level<input ng-model="newHero.level"></div>
			<div class="newInput col s4">Deity<input ng-model="newHero.deity"></div>
			<div class="newInput col s4">Homeland<input ng-model="newHero.homeland"></div>
			<div class="newInput col s4">Race<input ng-model="newHero.race"></div>
			<div class="newInput col s4">Size<input ng-model="newHero.size"></div>
			<div class="newInput col s4">Age<input ng-model="newHero.age"></div>
			<div class="newInput col s4">Gender<input ng-model="newHero.gender"></div>
			<div class="newInput col s4">Height<input ng-model="newHero.height"></div>
			<div class="newInput col s4">Weight<input ng-model="newHero.weight"></div>
			<div class="newInput col s4">Hair<input ng-model="newHero.hair"></div>
			<div class="newInput col s4 offset-s4">Eyes<input ng-model="newHero.eyes"></div>
		</div>
	</div>
</div>		
