<div>Abilities
	<div class="container">
		<div class="row">
			<div class="newInput">STR<input ng-model="newAbility.STR"></div>
			<div class="newInput">DEX<input ng-model="newAbility.DEX"></div>
			<div class="newInput">CON<input ng-model="newAbility.CON"></div>
			<div class="newInput">INT<input ng-model="newAbility.INT"></div>
			<div class="newInput">WIS<input ng-model="newAbility.WIS"></div>
			<div class="newInput">CHA<input ng-model="newAbility.CHA"></div>
		</div>
	</div>	
</div>
	<button ng-click="edit ? editAbility() : addNewAbility()">Submit</button>
