<div>Abilities
	<div class="container">
		<div class="row">
			<div class="newInput">STR<input ng-model="newAbility.strength"></div>
			<div class="newInput">DEX<input ng-model="newAbility.dexterity"></div>
			<div class="newInput">CON<input ng-model="newAbility.constitution"></div>
			<div class="newInput">INT<input ng-model="newAbility.intelligence"></div>
			<div class="newInput">WIS<input ng-model="newAbility.wisdom"></div>
		</div>
	</div>	
</div>
	<button ng-click="addNewAbility()">Submit</button>
